body {
  background-color: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
}
.container {
  color: white;
  text-align: center;
}

button {
  margin: 40px 20px;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

.city-select {
  background-color: black;
  text-align: center;
  width: 100%;
  color: #fff;
}

.search-by-city {
  position: fixed;
  bottom: 0;
  left: 45%;
  margin: 0 auto 10px;
}